<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head") %>

<body class="container">
    <%- include ("../partials/header") %>
    <main>
        <div class="jumbotron">
        </div>
        <form>
            <label for="username">Username: </label>
            <input type="text" name="username" class="form-control" id="username">
            <label for="country">Country: </label>
            <input type="text" name="country" class="form-control" id="country">
            <label for="message">Message: </label>
            <input type="text" name="message" class="form-control" id="message">
            <br>
            <button type="button" id="button1" class="btn btn-primary">Submit </button>
        </form>
        <div id="status">
        </div>
    </main>
    <%- include ("../partials/footer") %>
<script>
    window.onload = event => {
        var button1 = document.getElementById("button1");

        button1.addEventListener("click", () => {
        var username = document.getElementById("username").value;
        var country = document.getElementById("country").value;
        var message = document.getElementById("message").value;

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("status").innerHTML = this.responseText;
            }
        };
        
        // Lähetetään AJAX pyyntö, tyyppiä POST osoitteeseen /kirjaudu
        xmlhttp.open("POST", "/ajaxmessage", true);
        // Liitetään AJAX pyyntöön lomakkeen kenttien datat
        xmlhttp.setRequestHeader("Content-type", "application/json");

        // Kootaan kenttien tiedot data-muuttujaan
        var data = {
            "username": username,
            "country": country,
            "message": message
        };
        xmlhttp.send(JSON.stringify(data));
        });
    };
</script>
</body>

</html>